
<div id="cover_photo_container">

      <div id="user_pics_container">
      <%= link_to edit_cover_photo_path(@user.id) do %>
        <%= image_tag("icons8-picture-48.png", id: "cover_photo") %>
      <% end %>
      <%= image_tag(@user.cover_photo.variant(resize: "1000x200"), id: "cover_photo_pic") %>

        <%= link_to edit_profile_pic_path(@user.id) do %>
          <%= image_tag("icons8-screenshot-30.png", id: "profile_pic")%>
        <% end %>
        <%= image_tag(@user.profile_picture.variant(resize: "200x200"), id: "profile_pic_photo") %>
        <b><%= @user.full_name %></b><br />

      </div>

</div>
