<div id="new_post_container">
  <div>
    <% if @user.profile_picture.attached? %>
      <%= image_tag(@user.profile_picture.variant(resize: "100x100")) %>
    <% else %>
      <%= image_tag("icons8-person-60.png") %>
    <% end %>
    <%= form_for Post.new do |f| %>
      <p><%= f.text_area :content, placeholder: "What's on your mind, #{@user.first_name}?" %><br /><%= f.submit "Share" %></p>
    <% end %>
  </div>
</div>
