<!DOCTYPE html>
<html>
  <head>
    <title>FBClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="user_nav_container">
  <% if signed_in? %>
    <nav>
      <h2>FC</h2>
      <%= form_tag(users_search_path, method: "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search"%>
        <%= submit_tag "Search" %>
      <% end %>


      <ul>
        <li>
          <button type="button">
          <%= link_to profile_path(current_user.id) do %>
            <% if current_user.profile_picture.attached? %>
              <%= image_tag current_user.profile_picture.variant(resize: "50x50") %>
            <% else %>
              <%= image_tag("icons8-person-60.png") %>
            <% end %>
          <% end %>
          <%= current_user.full_name%>
          </button>
        </li>
        <li>
          <button type="button"><%= link_to "Home", user_posts_path(current_user.id) %></button>
        </li>
        <li>
          <button type="button"><a href="#">Find Friends</a></button>
        </li>
        <li>
          <%= link_to "#" do %>
            <%= image_tag("icons8-add-user-group-man-man-60.png", style: "width:40px;height:40px;")%>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <%= image_tag("icons8-facebook-messenger-60.png", style: "width:40px;height:40px;")%>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <%= image_tag("icons8-notification-60.png", style: "width:40px;height:40px;")%>
          <% end %>
        </li>
        <ul id="user_dd_container">
          <li>
            <%= link_to "#" do %>
              <%= image_tag("icons8-sort-down-60.png", style: "width:30px;height:30px;")%>
            <% end %>
              <ul id="user_dropdown">
                <li>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
          </li>
        </ul>
      </ul>
    </nav>
    <% else %>
    <div id="landing_nav"><h1 id="main_header">FaceBook Clone</h1><%= render "users/sessions/new", id: "render_sessions" %></div>
    <% end %>
  </div>


  <body>
    <%= yield %>
  </body>
</html>
