
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div id="signup_container">
  <h1 id="signup_header">Sign Up</h1>
  <h2 id="free_header">It's Free and Always Will Be</h2>

  <div class="form_field">
    <%= f.text_field :first_name, placeholder: "First name", id: "first_name" %><%= f.text_field :last_name, placeholder: "Last name", id: "last_name" %>
  </div>
  <div class="email_field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="password_field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>

  <div class="confirmation_field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
  </div>
  <div class="birthday_field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, start_year: 2018, end_year: 1900 %>
  </div>
  <div class="gender_field">
    <%= f.radio_button :female, 'female' %> Female
    <%= f.radio_button :male, 'male' %> Male
  </div>


  <div class="actions">
    <p>By clicking Sign Up, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a><br />
      and <a href="#">Cookies Policy</a>. You may receive SMS Notifications from<br />
      us and can opt out any time.</p>
    <%= f.submit "Sign up" %>
  </div>
</div>
<% end %>
